/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px dashed black;
}

header{
    background-color: #ADD8E7;
}

.h-100{
    height: 100%;
}

/* Navbar */

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    flex-basis: 20%;
    padding: 10px 0;
    background-color: #DAA51E;
}

.navbar-link{
    flex-grow: 1;
    text-align: center;
}

.navbar-login{
    text-align: right;
}

/* Jumbotron */

.jumbotron{
    background-color: #00018B;
    height: 600px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.jumbotron-content{
    background-color:#EF82ED ;
    width: 50%;
}

/* Section */

section{
    height: 600px;
}

.bg-gray{
    background-color: #D3D3D3;
    padding-top: 0;
    padding-bottom: 0;
}

.bg-white{
    background-color: white;
}

.large{
    flex-basis: 60%; 
    background-color: #1E90FF;
    height: 400px;
}

.small{
    flex-basis: 40%;
    background-color: #FFC0CA;
    height: 400px;

}

.full{
    flex-basis: 100%;
    background-color: #218B21;
    height: 800px;
}

.bigger{
    height: 1200px;
}

/* footer */

footer{
    background-color: #23272A;
    padding: 50px 0;
}

.footer-top{
    height: 700px;
    border-bottom: 1px solid purple;
    padding-bottom: 30px;
    display: flex;
}

.footer-left{
    flex-basis: 30%;
    background-color: #F08180;
}

.footer-right{
    flex-basis: 70%;
    background-color: #20B3AA;
}
.footer-nav{
height: 100%;
    display:flex;
}
.nav-col{
    flex-basis: 25%;
    border-color: white;
}