/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.border{
    border: 2px dashed black;
}

header{
    background-color: #ADD8E7;
}

/* Navbar */

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    flex-basis: 20%;
    padding: 10px 0;
    background-color: #DAA51E;
}

.navbar-link{
    flex-grow: 1;
    text-align: center;
}

.navbar-login{
    text-align: right;
}

/* Jumbotron */

.jumbotron{
    background-color: #00018B;
    height: 600px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.jumbotron-content{
    background-color:#EF82ED ;
    width: 50%;
}