/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px dashed black;
}

header{
    background-color: #ADD8E7;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.h-100{
    height: 100%;
}

/* Navbar */

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo, .navbar-login, .navbar-links{
    background-color: #DAA51E;
    padding: 15px;
}
.navbar-logo, .navbar-login {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.navbar-links{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.navbar-links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links a, .navbar-logo a, .navbar-login a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-login{
    justify-content: flex-end;
}

/* Jumbotron */

.jumbotron{
    background-color: #00018B;
    min-height: 600px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-content{
    background-color:#EF82ED ;
    width: 50%;
    height: 400px;
}

/* Section */

section{
    min-height: 600px;
    padding: 100px 0;
}

.bg-gray{
    background-color: #D3D3D3;
}

.bg-white{
    background-color: white;
}

.large{
    flex-basis: 60%; 
    background-color: #1E90FF;
    min-height: 400px;
}

.small{
    flex-basis: 40%;
    background-color: #FFC0CA;
    min-height: 400px;

}

.full{
    flex-basis: 100%;
    background-color: #218B21;
    min-height: 800px;
}


/* footer */

footer{
    background-color: #23272A;
    padding: 50px 0;
    color: black;
}

.footer-top{
    min-height: 500px;
    border-bottom: 1px solid purple;
    padding-bottom: 30px;
    display: flex;
}

.footer-left{
    flex-basis: 30%;
    background-color: #F08180;
}

.footer-right{
    flex-basis: 70%;
    background-color: #20B3AA;
}
.footer-nav{
height: 100%;
display:flex;
justify-content: space-around;

}
.nav-col{
    flex-basis: 25%;
    border: 1px dashed white;
}

.footer-bottom{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 20px 0;
    background-color:#7FFFD4;

}

.footer-bottom>*{
    padding: 5px 10px;
    background-color:#F08180;
    border: 1px dashed black;
}